<% include partials/header %>

<div class="container">
    <div class="row">
        <h1>CREATE A NEW POST</h1>
        <form action="/posts" method="POST">

            <input class="form-control" type="text" placeholder="name" name="name">
            <input class="form-control" type="text" placeholder="title" name="title">
            <input class="form-control" type="text" placeholder="post" name="article">
            <button class="btn btn-lg btn-primary" type="submit">make a post</button>

        </form>
        <a href="/posts">go back</a>
    </div>
</div>
    
<% include partials/footer %>